*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: white;
    font-family: Century Gothic;
}

header{
    width: 100%;
    height: 100px;
    text-align: center;
}

#content-wrap{
    width: 50%;
    margin: auto;
}

#main-nav{
    border: 1px solid black;
    background: rgb(170, 57, 57);
    border-radius: 8px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 15px 0 15px 0;
    list-style: none;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    color: black;
}

#main-content{
    border: 1px solid black;
    padding: 0px 20px;
    text-align: justify;
}