*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: white;
    font-family: Century Gothic;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 0;
    position: fixed;
    padding: 0;
    background: rgb(47,46,46);
    color: white;
    z-index: 1;
}

#main-title{
    align-self: center;
    margin-top: 0;
    margin-right: 100px;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li:hover{
    background: indianred;
}

nav a{
    display: flex;
    position: relative;
    top: 30px;
    padding: 10px 20px 50px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    margin: auto;
    margin-top: 60px;
    padding: 0px 20px;
    text-align: justify;
    z-index: 0;
}

h2{
    position: relative;
    text-align: center;
    font-family: raleway, sans-serif;
    font-size: 70px;
    font-weight: normal;
}

h2:after{
    content: ' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 100px;
    border:2px solid rgb(170, 57, 57);
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
}

p{
    padding: 10px;
    font-size: 18px;
}

footer{
    height: 60px;
    background: rgb(47,46,46);
}